apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "cyndi.cloud.redhat.com/v1alpha1",
          "kind": "CyndiPipeline",
          "metadata": {
            "name": "example-pipeline"
          },
          "spec": {
            "appName": "advisor"
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.0.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v2
  name: cyndi.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: CyndiPipeline is the Schema for the cyndipipelines API
      displayName: Cyndi Pipeline
      kind: CyndiPipeline
      name: cyndipipelines.cyndi.cloud.redhat.com
      version: v1alpha1
    required:
    - kind: KafkaConnector
      name: kafkaconnectors.kafka.strimzi.io
      version: v1alpha1
  description: Data syndication between Host-based Inventory and application databases.
  displayName: Cyndi
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          - secrets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - cyndi.cloud.redhat.com
          resources:
          - cyndipipelines
          - cyndipipelines/finalizers
          - cyndipipelines/status
          verbs:
          - '*'
        - apiGroups:
          - kafka.strimzi.io
          resources:
          - kafkaconnectors
          - kafkaconnectors/finalizers
          verbs:
          - '*'
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: default
      deployments:
      - name: cyndi-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                resources: {}
              - args:
                - --metrics-addr=127.0.0.1:8080
                - --enable-leader-election
                - --max-concurrent-reconciles=2
                command:
                - /manager
                image: quay.io/cloudservices/cyndi-operator:latest
                imagePullPolicy: Always
                name: manager
                resources:
                  limits:
                    cpu: "1"
                    memory: 4Gi
                  requests:
                    cpu: 100m
                    memory: 2Gi
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - configmaps/status
          verbs:
          - get
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: default
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: true
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - cyndi
  links:
  - name: GitHub repo
    url: https://github.com/redhatinsights/cyndi-operator
  maintainers:
  - email: jozef@redhat.com
    name: Jozef Hartinger
  maturity: alpha
  provider:
    name: Red Hat
    url: https://github.com/redhatinsights/cyndi-operator
  version: 0.0.1
