apiVersion: v1
kind: Template
metadata:
  name: cyndi-operator
parameters:
- name: IMAGE_TAG
  value: latest
- name: IMAGE
  value: quay.io/cloudservices/cyndi-operator-index
- name: TARGET_NAMESPACE
  value: cyndi
- name: SOURCE_NAMESPACE
  value: cyndi

objects:
- apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: cyndi-operator-source
  spec:
    sourceType: grpc
    image: ${IMAGE}:${IMAGE_TAG}

- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: cyndi-operator-group
  spec:
    targetNamespaces: [""]

- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: cyndi-subscription
  spec:
    channel: alpha
    name: cyndi
    source: cyndi-operator-source
    sourceNamespace: ${SOURCE_NAMESPACE}

# TODO: move this into the bundle itself
# depends on https://github.com/operator-framework/operator-sdk/pull/4137
- apiVersion: v1
  kind: Service
  metadata:
    name: cyndi-operator
    labels:
      control-plane: controller-manager
  spec:
    ports:
    - name: https
      protocol: TCP
      port: 8080
      targetPort: 8080
    selector:
      control-plane: controller-manager
