apiVersion: v1
kind: Template
metadata:
  name: cyndi-operator
parameters:
- name: IMAGE_TAG
  value: latest
- name: IMAGE
  value: quay.io/cloudservices/cyndi-operator-index
- name: TARGET_NAMESPACE
  value: cyndi
objects:

- apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: cyndi-operator-source
  spec:
    sourceType: grpc
    image: ${IMAGE}:${IMAGE_TAG}
    secrets:
    - quay-cloudservices-pull

- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: cyndi-operator-group
  spec:
    targetNamespaces:
    - ${TARGET_NAMESPACE}

- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: cyndi-subscription
  spec:
    channel: alpha
    name: cyndi
    source: cyndi-operator-source
    sourceNamespace: ${TARGET_NAMESPACE}
