apiVersion: v1
kind: Template
metadata:
  name: cyndi-operator
parameters:
- name: IMAGE_TAG
  value: latest
- name: IMAGE
  value: quay.io/cloudservices/cyndi-operator-index
- name: TARGET_NAMESPACE
  value: cyndi
- name: SOURCE_NAMESPACE
  value: cyndi
- name: RECONCILE_INTERVAL
  value: "120"
- name: VALIDATION_INTERVAL
  value: "1800"
- name: VALIDATION_INTERVAL_INIT
  value: "60"
- name: VALIDATION_PERCENTAGE_THRESHOLD
  value: "5"
- name: VALIDATION_ATTEMPTS_THRESHOLD
  value: "3"
- name: VALIDATION_ATTEMPTS_THRESHOLD_INIT
  value: "30"
- name: CONNECT_CLUSTER
  value: "xjoin-kafka-connect-strimzi"
- name: CONNECTOR_ALLOWLIST_SP
  value: "sap_system,sap_sids"
- name: SSL_MODE
  value: require
- name: SSL_ROOT_CERT
  value: /opt/kafka/external-configuration/rds-client-ca/rds-cacert

objects:
- apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: cyndi-operator-source
  spec:
    sourceType: grpc
    image: ${IMAGE}:${IMAGE_TAG}

- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: cyndi-operator-group
  spec:
    targetNamespaces: [ "${TARGET_NAMESPACE}" ]

- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: cyndi-subscription
  spec:
    channel: alpha
    name: cyndi
    source: cyndi-operator-source
    sourceNamespace: ${SOURCE_NAMESPACE}
    config:
      volumes:
      - name: rds-client-ca
        secret:
          secretName: rds-client-ca
          optional: true
      volumeMounts:
      - mountPath: /opt/kafka/external-configuration/rds-client-ca
        name: rds-client-ca

- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: cyndi
  data:
    standard.interval: ${RECONCILE_INTERVAL}
    validation.interval: ${VALIDATION_INTERVAL}
    validation.attempts.threshold: ${VALIDATION_ATTEMPTS_THRESHOLD}
    validation.percentage.threshold: ${VALIDATION_PERCENTAGE_THRESHOLD}
    init.validation.interval: ${VALIDATION_INTERVAL_INIT}
    init.validation.attempts.threshold: ${VALIDATION_ATTEMPTS_THRESHOLD_INIT}
    init.validation.percentage.threshold: ${VALIDATION_PERCENTAGE_THRESHOLD}
    connect.cluster: ${CONNECT_CLUSTER}
    connector.allowlist.sp: ${CONNECTOR_ALLOWLIST_SP}
    db.ssl.mode: ${SSL_MODE}
    db.ssl.root.cert: ${SSL_ROOT_CERT}

# TODO: move this into the bundle itself
# depends on https://github.com/operator-framework/operator-sdk/pull/4137
- apiVersion: v1
  kind: Service
  metadata:
    name: cyndi-operator
    labels:
      control-plane: controller-manager
  spec:
    ports:
    - name: https
      protocol: TCP
      port: 8080
      targetPort: 8080
    selector:
      control-plane: controller-manager
