---
name: Run Tests

on:
  - pull_request

jobs:
  testing:
    runs-on: ubuntu-20.04
    container: golang:1.15
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2

      - name: Run Tests
        env:
          DBHOSTHBI: postgres
        run: make test